input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}
.ng-valid { border: 2px solid #42A948; /* green */ }
.ng-invalid:not(form)  { border: 2px solid #a94442; /* red */ }